<!--
***********************************************************************************************
    Repository Configuration

    Repository settings, repository wide configuration for entry points, and
    common data used by OneBranch (see http://aka.ms/onebranch).

    For details regarding available buildreq settings see
    https://microsoft.sharepoint.com/teams/WAG/EngSys/Implement/OneBranch/Available%20BuildReq%20settings%20in%20repo.config.aspx

    If you have modified the Official Build settings, run the following commands (ATTENTION! replace '~' with '-'):   
       buildreq ~~updatejob ~y
       buildreq ~~updatejobparameters ~job "Official Build" ~y

    Copyright (C) Microsoft Corporation. All rights reserved.
***********************************************************************************************
-->

<Repository>
  <!-- Common settings -->
  <!-- *** Update based on your repo *** -->
  <Name>Templates-CBT</Name>
  <Description>CBT template for OneBranch</Description>
  <Owners>wabuild</Owners>

  <!-- Precheckin validation -->
  <CodeReviewEmailTo>wabuild</CodeReviewEmailTo>
  <DevPackagePublishServer>https://msazure.pkgs.visualstudio.com/_packaging/Dev/nuget/v3/index.json</DevPackagePublishServer>

  <!-- Official build configuration | email aliases must contain @microsoft.com | separate multiple emails by comma -->
  <BuildEmailTo>fabv@microsoft.com</BuildEmailTo>
  <!-- Official build package publish location. Update to "Official" when you're ready -->
  <!-- https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json -->
  <OfficialPackagePublishServer>https://msazure.pkgs.visualstudio.com/_packaging/Dev/nuget/v3/index.json</OfficialPackagePublishServer>

  <!-- Name of the CloudBuild Queue for branch -->
  <!-- 
        This Queue needs to be created through onboarding process.
        https://www.1eswiki.com/wiki/CloudBuild_Auto_Onboarding
        or
        https://www.1eswiki.com/wiki/CBT_(Common_Build_Toolset)#Onboarding_to_CBT_Checklist
  -->
  <Q>
    <QueueName>CDP_Templates-CBT</QueueName>
  </Q>

  <!-- Official/Buddy defaultBuildSystem options: VSTS, BuildTracker, CloudBuild -->
  <OfficialBuild defaultBuildSystem="VSTS">
    <DefaultParameters>
      <ENABLE_PRS_DELAYSIGN>1</ENABLE_PRS_DELAYSIGN>
    </DefaultParameters>
  </OfficialBuild>
  <BuddyBuild defaultBuildSystem="VSTS" />

  <!-- Enable localization HB check-in as direct commit -->
  <!--
  <Localization>
    <CommitType>DirectCommit</CommitType>
    <OverrideCopyBackIncludePatterns>*.lcl</OverrideCopyBackIncludePatterns>
  </Localization>
  -->
  
  <!-- Separate multiple emails by semicolon -->
  <!--<CodeReview>
    <RequiredReviewers>willbar</RequiredReviewers>
    <OptionalReviewers>magitbldsup</OptionalReviewers>
  </CodeReview>-->

  <!-- Trust Services Automation (TSA) for SDL log processing -->
  <!--<TSA>
    <Notification>TeamDL@microsoft.com,alias@microsoft.com</Notification>
    <AreaPath>BranchName\ProjectName\SubProject</AreaPath>
    <UsePPE>false</UsePPE>
    <ToolsOptOut>BinScope;APIScan;PoliCheck;FxCop</ToolsOptOut> -->
    <!-- The branch against which TSA will create alerts [optional: can be a comma\semicolon delimited list of case-sensitive branchnames]. -->
    <!-- <DefaultBranches>master,develop</DefaultBranches>
  </TSA>-->
</Repository>
