<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DsmsCredentialsManagement" version="2.15.755" targetFramework="net472" />
  <package id="DstsAuthentication.master" version="3.0.2.201" targetFramework="net472" />
  <package id="GenevaActionsLibrary" version="3.0.4.990" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.4" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.19" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="SecurityResponseClient" version="1.0.9.149" targetFramework="net472" />
</packages>